body {
    margin: 0;
    padding: 0;
    background-image: url(resources/landscape-night/cielo-noche.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.grass-container {
    position: absolute;
    top: auto;
    bottom: 0; /* Position the image at the bottom */
    left: 0;
    width: 100%;
    height: 14%;
    background-image: url(resources/landscape-night/pasto.webp);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: 1;
}

.jaguar-zero-container {
    position: absolute;
    max-width: 404px; /* Set maximum width */
    max-height: 189px; /* Set maximum height */
    min-height: auto;
    min-width: 180px;
    width: 30%; /* Allow dynamic resizing */
    height: auto; /* Maintain aspect ratio */
    left: 50%; /* Center horizontally */
    bottom: 7%; /* Align to the bottom */
    transform: translateX(-50%); /* Adjust for perfect center */
    z-index: 2;
}
