body {
    background-image: url('resources/landscape-night/landscape-night.svg');
    background-position: center center;
    background-size: cover;
    background-size: contain;
    background-size: inherit;
    background-size: initial;
    background-size: revert;
    background-size: revert-layer;
    background-size: unset;
}

.game-container {
    width: 100%; /* Adjust the width as needed */
    height: 100vh; /* Adjust the height as needed */
    position: relative; /* Allows absolute positioning within the container */
    overflow: hidden; /* Prevents scrolling within the game area */
}

#jaguar-walking-image {
    position: absolute;
    left: 50%; /* Center horizontally */
    bottom: 7%; /* Align to the bottom */
    transform: translateX(-50%); /* Adjust the position to be centered horizontally */
    width: 400px; /* Set the width of the image */
    height: auto; /* Maintain the aspect ratio */
    object-fit: cover; /* Ensure the image covers the area without distortion */
}
